{%extends 'manuals/base.html'%}
{% load static%}
{%block content%}

  <div class="content">
    <div class="searchform" >
          <form id="formsearch" name="formsearch" method="post" action="#">
            <span>
            <input name="editbox_search" class="editbox_search" id="editbox_search" maxlength="80" placeholder="Введите текст..." type="text" />
            </span>
            <input name="button_search" src="{% static 'images/search_btn.gif'%}" class="button_search" type="image" />
          </form>
        </div>
    <div class="content_resize">

      <div class="mainbar">
        {%for author in authors%}
        <div class="article">
          <h2><span>{{author}}</span></h2>
          <h5>Опубликованые статьи:</h5>
          {%for manual in manuals%}
          {%if manual.owner == author %}

           <a href="{%url 'manual' manual.id%}"> {{manual.title}}</a>
          {%endif%}
          {%endfor%}

        </div>
        {%endfor%}


        <p class="pages"><small>Page 1 of 2 &nbsp;&nbsp;&nbsp;</small> <span>1</span> <a href="#">2</a> <a href="#">&raquo;</a></p>
      </div>


      <div class="clr"></div>
    </div>
  </div>




<!-- END PAGE SOURCE -->
{%endblock%}