{%extends 'manuals/base.html'%}
{% load static%}
{%block content%}




      {%if manuals%}
<div class="content"  >
<div class="searchform" >
          <form id="formsearch" name="formsearch" method="post" action="#">
            <span>
            <input name="editbox_search" class="editbox_search" id="editbox_search" maxlength="80" placeholder="Введите текст..." type="text" />
            </span>
            <input name="button_search" src="{% static 'images/search_btn.gif'%}" class="button_search" type="image" />
          </form>
        </div>



    <div class="content_resize" >
      <div class="mainbar" >
        {%for manual in manuals%}
        <div class="article" >
            <a href="{%url 'manual' manual.id%}"><img src="{{manual.logo.url}}" style=" border: 10px; margin: 5px; padding: 5px; border-radius: 20px;width: 10%" alt="" /></a>
          <h2><span><a href="{%url 'manual' manual.id%}">{{manual.title}}</a></span></h2>
          <div class="clr"></div>
          <p><span class="date">{{manual.created}}</span> Posted by <a href="#">{{manual.owner.name}}</a> </p>

          <p>{{manual.description|slice:'200'}}...</p>
          <p class="spec"><a href="{%url 'manual' manual.id%}">Читать далее &raquo;</a> <a href="#" class="com"><span>11</span> Comments</a></p>
</div>
        {%endfor%}
{%else%}
        <div class="mainbar">
        <div class="article">
<h3 style="text-align: center">Ваша инструкция может быть первой в нашей базе знаний</h3></div>
{%endif%}

        <p class="pages"><small>Page 1 of 2 &nbsp;&nbsp;&nbsp;</small> <span>1</span> <a href="#">2</a> <a href="#">&raquo;</a></p>
      </div>


      <div class="clr"></div>
    </div>
  </div>



<!-- END PAGE SOURCE -->
{%endblock%}